/* -------------------------- QTableWidget Styling -------------------------- */

/* Style for the QTableWidget */
QTableWidget {
    border: 2px solid lavender;
}

/* Style for the section headers of the QHeaderView */
QHeaderView::section {
    background-color: forestgreen;
    color: white;
}

/* Style for the items in the QTableView */
QTableView::item {
    background-color: lightblue;
    color: black;
}

/* Style for alternate items in the QTableView */
QTableView::item:alternate {
    background-color: lightcoral;
    color: black;
}

/* Style for selected items in the QTableView */
QTableView::item:selected {
    background-color: lightgoldenrodyellow;
    color: black;
}

/* Style for hovered items in the QTableView */
QTableView::item:hover {
    background-color: lightsalmon;
    color: black;
}